/* --------------------------------------------------------------------------
 *  Project  : MjSchool Plugin Styles
 *  File     : mjschool-popup.css
 *  Purpose  : Popup and Overlay Styles for MJ School
 *
 *  ============================
 *  TABLE OF CONTENTS
 *  ============================
 *  
 * 1. Popup Background Overlay
 * 2. Popup Container / Content Box
 *
 *  -------------------------------------------------------------------------- */
.mjschool-popup-bg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 1000; /* high z-index */
	background: #000; /* fallback */
	background: rgba(0, 0, 0, 0.26);
}
.mjschool-overlay-content {
	background: #ffffff none repeat scroll 0 0;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	cursor: default;
	float: left;
	left: 40%;
	margin: -20px 0 0 -13%;
	padding: 10px 10px 10px;
	position: fixed;
	top: 6%; 
	width: 60%;
}
