/* --------------------------------------------------------------------------
 *  Project  : MjSchool Plugin Styles
 *  File     : mjschool-dashboard.css
 *  Purpose  : Main stylesheet for layout, forms, and UI.
 *
 *  ============================
 *  TABLE OF CONTENTS
 *  ============================
 *  
 *  1. General Layout
 *  2. Form Styling
 *  3. Panels & Accordions
 *  4. Dropdown Menu Styling
 *  5. DataTables Styling
 *  6. Inputs & File Upload Fields
 *  7. Responsive Breakpoints
 *
 *  -------------------------------------------------------------------------- */
input[type=radio]{
	border: 1px solid #7e8993;
	border-radius: 50%;
	background: #fff;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 16px !important;
	outline: 0;
	padding: 0!important;
	text-align: center;
	vertical-align: middle;
	width: 16px !important;
	min-width: 16px !important;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	transition: .05s border-color ease-in-out;
}
input[type=checkbox]:checked::before{
	margin: -3px 0 0 -5px !important;
	color: #1e8cbe !important;
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 22px !important;
	font: normal 21px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
}
input[type=radio]:checked::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	float: left;
	border-radius: 50%;
	width: 8px !important;
	height: 8px !important;
	margin: 3px !important;
	background-color: #1e8cbe;
	speak: none;
	line-height: 1.14285714;
	-webkit-font-smoothing: antialiased;
}
.form-check-input{
	margin-top:6px !important;
}
input[type=checkbox]:checked {
	background-color: #0d6efd;
	border-color: #0d6efd;
}
