/* --------------------------------------------------------------------------
 *  Project  : MjSchool Plugin Styles
 *  File     : mjschool-dashboard.css
 *  Purpose  : Main stylesheet for layout, forms, dashboard, tables, and UI.
 *
 *  ============================
 *  TABLE OF CONTENTS
 *  ============================
 *  
 *  1. General Layout
 *  2. Form Styling
 *  3. Panels & Accordions
 *  4. Dropdown Menu Styling
 *  5. DataTables Styling
 *  6. Inputs & File Upload Fields
 *  7. Responsive Breakpoints
 *
 *  -------------------------------------------------------------------------- */
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 0px !important;
}
.table>tbody>tr>td{
	vertical-align: middle !important;
}
.info-box .info-box-icon {
	float: left !important;
}
.info-box-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 45px;
	line-height: 90px;
	background: rgba(0, 0, 0, 0.2 );
	color: #fff !important;
}
.info-box .info-box-icon i {
	color: #FFFFFF;
}
.info-box .info-box-stats {
	float: left;
	height: 70px;
	margin: 0;
	vertical-align: middle;
	margin-top: 15px;
	width: calc(100% - 100px);
	padding: 10px;
	text-align: center;
}
span.mjschool-info-box-title.all_box{
	color: white !important;
}
p.counter{
	color: white !important;
	font-weight: 600 !important;
	font-size: 24px !important;
}
.all_box:hover{
	font-weight: bold;
}
/*student css*/
img.dashboard_background {
	float: left;
	width: 100%;
}
.info-box .mjschool-panel-body {
	padding: 0 !important;
}
/* staff css*/
.info-box .staff1 .info-box-stats span.mjschool-info-box-title {
	color: #4E5E6A;
}
.info-box .staff1 .info-box-stats p {
	color: #4E5E6A;
	font-size: 34px;
}
/* setting css*/
.info-box .settings .info-box-stats span.mjschool-info-box-title {
	color: #1EC1FC;
}
.info-box .settings .info-box-stats p {
	color: #1EC1FC;
	font-size: 34px;
}
/* message css*/
.info-box .message .info-box-stats span.mjschool-info-box-title {
	color: #FFCD1E;
}
.info-box .message .info-box-stats p {
	color: #FFCD1E;
	font-size: 34px;
}
/* frontend side css*/
.mjschool-my-table{
	border-top: 3px solid #22a8ee !important;
}
/* read more button css*/
.read_more{
	float: right;
}
/* font awesome icon css*/
.fa-user{
	font-size:18px;
}
.fa-external-link{
	font-size: 17px !important;
	float: right;
}
/*exam list css*/
.mjschool-panel-heading{
	border-bottom: 1px solid #ddd !important;
}
.calendar-event p.Bold {
	font-weight: 700!important;
}
.calendar-event {
	padding: 7px 10px;
	color: #5B5B5B;
	background: #FCF8E3;
	margin-bottom: 5px;
	overflow: hidden;
}
.calendar-event {
	background: none!important;
}
.calendar-event {
	padding: 10px 0px;
	text-transform: capitalize;
	border-bottom: 1px solid #f4f4f4;
	overflow: hidden;
	background-color: #ffffff;
}
.calendar-event .mjschool-remainder-title-pr {
	float: left!important;
	width: calc(100% - 88px);
	cursor: pointer!important;
}
.calendar-event .mjschool-remainder-title-pr_new {
	float: left!important;
	width: calc(100% - 88px);
}
.calendar-event .mjschool-remainder-title-pr_new_template {
	float: left!important;
	width: calc(100% - 150px)!important;
}
.calendar-event .mjschool-remainder-date-pr {
	float: right;
	width: 88px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	padding: 0 10px;
	color: #FFF;
	border-radius: 2px;
}
/* class css*/
.class .table>thead>tr>th {
	padding:7px!important;
}
.unit{
	border-bottom: 1px solid #f4f4f4;
}
.class .btn-success{
	background-color: #3c8dbc !important;
}
/* notice css*/
.calendar-event .mjschool-remainder-title {
	float: left;
	width: calc(100% - 180px);
	cursor: pointer;
}
/*invoice css*/
/*report css*/
.panel.mjschool-panel-body.mjschool-panel-white.payment_report{
	border-top: 3px solid #00a65a !important;
}
.panel.mjschool-panel-body.mjschool-panel-white.month_attandance{
	border-top: 3px solid #f39c12 !important;
}
.panel.mjschool-panel-body.mjschool-panel-white.student_report{
	border-top: 3px solid #FF008B !important;
}
.panel.mjschool-panel-body.mjschool-panel-white.student_report{
	border-top: 3px solid #7420D8 !important;
}
.panel.mjschool-panel-body.mjschool-panel-white.result_report.student_report{
	border-top: 3px solid #22a8ee !important;
}
.panel.mjschool-panel-body.mjschool-panel-white.result_report{
	border-top: 3px solid #00a65a !important;
}
/*extra changes css*/
.mjschool-attandance-padding .mjschool-panel-body{
	padding: 0px !important;
}
.mjschool-attandance-padding  .mjschool-panel-heading-report{
	border-bottom: 1px solid #ddd;
}
.mjschool-attandance-padding .mjschool-panel-heading-report h3{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.mjschool-attandance-padding h3.mjschool-panel-title-report{
	padding: 16px;
}
ul.nav.navbar-right.panel_toolbox{
	margin-top: 3px;
}
.month_attandance,.result_report, .payment_report {
	max-height: 565px;
	min-height: 100px;
}
/* report icon*/
.mjschool-panel-title-report i.fa{
	margin-right: 7px;
	font-size: 14px;
}
/* front end side extra changes */
.col-md-6.left_side_data{
	padding-left: 0px;
}
/* data note found msg*/
.error_msg{
	padding: 15px;
	font-size: 14px;
	color: gray;
}
.d-modal-style{
	border-top: 5px solid #22baa0;
}
.ui-dialog .ui-dialog-titlebar-close
{
	margin: -15px -4px 0px 0px;
}
.ui-dialog
{
	margin-left: 40%;
	top: 1820px;
}
.mjschool-w-18-px{
	width: 18px;
}
.calendar-notice{
	height:5px;width:10px; background:rgb(34,186,160);
}
.calendar-holiday{
	height:5px;width:10px; background:rgb(91,192,222 );
}
.calendar-schedule{
	height:5px;width:10px; background:rgb(91,112,222 );
}
.calendar-classroom{
	height:5px;width:10px; background:rgb(46,138,194);
}
.calendar-cst{
	border-bottom: 0;    border-bottom: 1px solid #f4f4f4;
}
.mjschool-remainder-title-pr_with
{
	width: calc(85% - 88px)!important;
}